<link rel="stylesheet" href="/css/navigation.css">

<header class="main-header">
    <nav class="nav">
        <ul class="nav-items">
            <li class="nav-item"><a href="#">Home</a></li>
        </ul>
        <ul class="nav-items">
            <li class="nav-item"><a href="#">Login  </a></li>
            <br>
            <li class="nav-item"><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>