<link rel="stylesheet" href="/css/navigation.css">

<header class="main-header">
    <nav class="nav">
        <ul class="nav-items">
            <li class="nav-item"><a href="#">Home</a></li>
        </ul>
        <ul class="nav-items">
            <li class="nav-item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>