<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
</head>

<body>
    <div class="login">
        <form action="/login" method="post">
            Email <input type="email" name="email" id=""><br>
            Password <input type="password" name="password" id="">
            <button type="submit">login</button>
        </form>
    </div>
    <br><br><br>
    <div class="singup">
        <form action="/signup" method="post">
           Name <input type="text" name="name" /><br>
           Email <input type="email" name="email" id="" /><br>
           password <input type="password" name="password" /><br>
           conf password <input type="password" name="confirmPassword" /><br>
           <button type="submit" name="submit">Sign up</button>
        </form>
    </div>

</body>

</html>