body{
    background-image: url('../home.jpg');
}
.main{
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80vh;
    padding: 2.5rem;
    overflow: auto;
    /* text-align: center; */
    background-color: rgb(85, 179, 147,0.5);
}

@media (max-width:550px){
    .main{
        position:fixed;
        left:0%;
        right:0%;
        width:100%;
        top:7.5%;
        height:80%;
    }
}

/* .main input{
    align-self: center;
    width: 300px;
} */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}

.editForm{
    overflow: auto;
    padding:30px 10px;
    text-align:center;
    position: fixed;
    top: 20vh;
    left: 45vh;
    background-color: #2a8ea5;
    width: 50%;
    height: 70vh;
    z-index: 10;
    display: none;
}

@media(max-width:550px){
    .editForm{
        left:0;
        width:100%;
        top:8vh;
    }
}

.editForm input{
    width:250px;
    margin:10px;
}

#morePhoneField{
    position:fixed;
    top:47.9%;
    left:35%;
    width:28px;
    color:#2a8ea5;
    background-color:white;
    border:none;
    text-align:center;

}
#lessPhoneField{
    position:fixed;
    top:47.9%;
    left:57%;
    width:28px;
    color:#2a8ea5;
    background-color:white;
    border:none;
    text-align:center;
}
#phoneField{
    position:relative;
    left:188px;
    width:100px;
}
@media(max-width:550px){
    #phoneField{
        left:60px;
    }
    #morePhoneField{
        top:30.5%;
        left:10%
    }
    #lessPhoneField{
        top:30.5%;
        left:85%;
    }
}

#emailField{
    position:relative;
    left:196px;
    width:100px;
}

@media(max-width:550px){
    #emailField{
        left:60px;
    }
}


#firstEmail{
    position:relative;
    top:-20px;
    
    
}

#moreEmailField{
    position:relative;
    top:-59px;
    left:-8%;
    width:28px;
    color:#2a8ea5;
    background-color:white;
    border:none;
    text-align:center;
}

#lessEmailField{
    position:relative;
    top:-59px;
    left:32%;
    width:28px;
    color:#2a8ea5;
    background-color:white;
    border:none;
    text-align:center;
}

@media(max-width:550px){
    #lessEmailField{
        top:-60px;
        left:56%;
    }
    #moreEmailField{
        top:-60px;
        left:-14%;
    }
}

.pagination{
    position: fixed;
    left: 45%;
    bottom: 3%;
    margin-top: 2rem;
    text-align: center;
}

@media(max-width:550px){
    .pagination{
        left:30%;
    }
}

.pagination a{
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    padding: 2px;
    border: 1px solid #007c80;
    margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active{
    background-color: #007c80;
    color: white;
}

    .searchRes{
        padding:20px;
        text-transform:capitalize;
        position:fixed;
        height: 30vh;
        width: 54.5%;
        background-color: #5689ade3;
        z-index: 20;
        color:white;
        display: none;
    }
    

/* .card{
    height: 100px;
} */

.editc{
    position:absolute;
    right:15%;
    width: 40px;
    color:white;
    background-color:#1175b9;
    height: 40px;
    border:none;
    text-align:center;
    border-radius: 50%;
}

.deletec{
    position:absolute;
    right:6%;
    color:white;
    background-color:#d42121;
    border:none;
    width: 40px;
    height: 40px;
    text-align:center;
    border-radius: 50%;
}
@media(max-width:550px){
    .editc{
        right:20%;
        width:30px;
        height:30px;
        font-size:10px;
    }
    .deletec{
        width:30px;
        height:30px;
        font-size:10px;
    }
}

#update_button{
    position:relative;
    top:80px;
    width:150px;
    height:30px;
    background-color:#4ccc91;
    color:white;
    border:none;
}

#imageSel{
    position:relative;
    top:-50px;
    margin-top:10px;
}